/* NoobCoderStylesheet.css */

        /* index page.   */
        .ContainerCamJamPage {
            width: 1890px;
            height: auto;
            border: 0px solid red;
            }

        .containerPageHeader {
            z-index: 2;
            width: 1890px;
            height: 200px;
            border: 0px solid #0A4058;
            }

        .ContainerMainBanner {
                z-index: 3;
                width: 1890px;
                height: auto;
                margin-top: 20px;
                border: 0px solid red;
            }

        .containerMainText {
            z-index: 2;
            width: 1890px;
            height: auto;
            margin-top: 30px;
            border: 0px solid blue;
            }

        .containerProjectHeader {
            z-index: 1;
            height: auto;
            width: 1890px;
            margin-top: 30px;
            border: 0px solid #2BABB4;
            }

        .containerproject1 {
            z-index: 1;
            width: 1890px;
            height: 1200px;
            margin-top: 30px;
            border: 0px solid green;
            }

        .containerproject2 {
            z-index: 1;
            width: 1890px;
            height: 700px;
            margin-top: 30px;            
            border: 0px solid #2F00FF;
            }
        .containerproject3 {
            z-index: 1;
            width: 1890px;
            height: 700px;
            margin-top: 30px;            
            border: 0px solid orange;
            }
        .containerfooter {
            z-index: 1;
            width: 1890px;
            height: auto;
            border: 0px solid #DA349A;
            }        
        body {
            background-color:#D6C8C4;
            width: 1890px;
            z-index: 1;
             }


        .LOGO_2 {
            position: absolute;
            z-index: 1;
            margin-left: -450px;
            margin-top: 0px;
            width: 880px;
            height: 200px;
        }

        .Info {
            margin-left: 1300px;
            font-family:cursive;
            font-size: 15pt;
            line-height: 70%;
            color: #780BC0;

        }

        .Box1 {
            position: absolute;
            z-index: -2;
            background-color:#918B8F;
            margin-left: 1270px;
            margin-top: 0px;
            width: 620px;
            height: 3400px;
            }

        .Box2 {
            position: absolute;
            z-index: -2;
            background-color:#DFD9B8;
            margin-left: 0px;
            margin-top: 0px;
            width: 600px;
            height: 3400px;
            }
        
        h1 {
            font-family:cursive;
            font-size: 35pt;
            }

        h2 {
            font-family:cursive;
            font-size: 30pt;
            color: #585256
            }

        h3 {
            font-family:cursive;
            font-size: 17pt;
            color: #585256
            }            

        p {
            text-indent: 30px;
            
            }    

        .PageHeading {
            position: relative;
            width: 100%;
            z-index: 1;
            color: #585256;
            border: 1px solid #918B8F;
            background-color: #AECCAA;
            text-align: center;
            }
            
        .MainText {
            background-color: #D6C8C4;
            z-index: 1;
            border: 1px solid #918B8F;
            box-sizing: border-box;
            width: 80%;
            margin: auto;
            padding: 20px;
            font-family:cursive;
            font-style: normal;
            font-size: 13pt;
            text-align: left;
            color: #585256;
            }

        .ProjectsTitle {
            background-color:#AECCAA;
            z-index: 1;
            border: 1px solid #918B8F;
            box-sizing: border-box;
            width: 250px;
            margin-left: 150px;
            padding: 10px;
            font-family:cursive;
            font-style: normal;
            font-size: 20pt;
            text-align: center;
            text-indent: 10px;
            }

        .ProjectsHeading {
            position: absolute;                   
            background-color:#AECCAA;
            z-index: 1;
            border: 1px solid #918B8F;
            box-sizing: border-box;
            margin-left: 70px;
            padding: 10px;
            font-family:cursive;
            font-style: normal;
            font-size: 15pt;
            text-align: center;
            }           

        .img-type1 {
            position: relative;
            z-index: 2;
            margin-left: 50px;
            margin-top: 120px;
            width: 350px;
            height: 230px;
            border: 1px solid #9DC3C1;
            }

        .img-type2 {
            position: absolute;
            z-index: 2;
            width: 300px;
            height: 310px;
            border: 1px solid #9DC3C1;
            }

        .ProjectArticle {   
            background-color: #DFD9B8;
            z-index: 1;
            border: 1px solid #918B8F;
            box-sizing: border-box;
            width: 900px;
            height: auto;
            margin-left: 500px;
            margin-top: -250px;
            padding: 30px;
            font-family:cursive;
            font-style: normal;
            font-size: 13pt;
            text-align: left;
            color: #585256;
            }

        .CodeboxHeading { 
            position: absolute;                  
            background-color:#AECCAA;
            z-index: 3;
            border: 1px solid black;
            box-sizing: border-box;
            margin-left: 1550px;
            margin-top: -300px;
            padding: 15px;
            font-family:cursive;
            font-style: normal;
            font-size: 15pt;
            }           
            

        .Codebox1 {
            position: absolute;
            overflow: scroll;
            z-index: 2;
            margin-left: 1450px;
            width: 380px;
            height: 350px;    
            padding: 5px;
            margin-top: -850px;
            background-color: ghostwhite;
            border: 1px solid #9DC3C1;
            box-sizing: border-box;
            font-size: 7pt;
            }
        .Codebox2 {
            position: absolute;
            overflow: scroll;
            z-index: 2;
            margin-left: 1450px;
            width: 380px;
            height: 350px;    
            padding: 5px;
            margin-top: -150px;
            background-color: ghostwhite;
            border: 1px solid #9DC3C1;
            box-sizing: border-box;
            font-size: 7pt;
            }

        .Codebox3 {
            position: absolute;
            overflow: scroll;
            z-index: 2;
            margin-left: 1450px;
            width: 380px;
            height: 350px;    
            padding: 5px;
            margin-top: -150px;
            background-color: ghostwhite;
            border: 1px solid #9DC3C1;
            box-sizing: border-box;
            font-size: 7pt;
            }


        footer {
            padding: 0px;
            color: #535153;
            border: 2px solid #918B8F;
            background-color: #9DC3C1;
            clear: left;
            text-align: center;
            margin-top: 30px;
            }


            /*-- ------------------------------------------------------------------- about me page.--------------------------------------------------------------------------- */

        .MainContainerIndexPage {
            width: 1890px;
            height: 1000px;
            border: 0px solid #5C359B;
            }

        .MainTextContainerIndexPage {
            width: 1890px;
            height: auto;
            margin-top: 30px;
            border: 0px solid #1FA540;
            }

        .ContainerLinkstHeader {
            z-index: 1;
            height: auto;
            width: 1890px;
            margin-top: 30px;
            border: 0px solid #2BABB4;
            }

        .LinksContainerIndexPage {
            width: 1890px;
            height: auto;
            border: 0px solid #DF531B;
            }

        a {
            font-family:cursive;
            font-size: 20pt;
            }

        .Box1-IndexPage {
            position: absolute;
            z-index: -2;
            background-color:#918B8F;
            margin-left: 1270px;
            margin-top: 0px;
            width: 620px;
            height: 1350px;
            }

        .Box2-IndexPage {
            position: absolute;
            z-index: -2;
            background-color:#DFD9B8;
            margin-left: 0px;
            margin-top: 0px;
            width: 600px;
            height: 1350px;
            }
        .banner {
            background-color: #D6C8C4;
            box-sizing: border-box;
            width: 80%;
            margin: auto;
            text-align: center;
            font-size: 20pt;
            color: #585256;
            padding: 10px;
            color: #585256;
            border: 1px solid #918B8F;
            }
        
        .LinksList {
            background-color: #DFD9B8;
            z-index: 1;
            border: 1px solid #918B8F;
            width: 80%;
            margin: auto;
            font-family:cursive;
            font-style: normal;
            font-size: 15pt;
            text-align: auto;
            color: #585256;
            }
                
        .row:after {
            content: "";
            display: table;
            clear: both;
            }

        .column {
            float: left;
            width: 484px;
            padding: 10px;
            text-align: center;
            }






